

<link rel="stylesheet" type="text/css" href="/public/Deneme/login.css" />

<form action="Login" method="POST">
  <div class="imgcontainer">
    <img src="/public/img/Login_avatar.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" id="Email" name="Email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="Password" name="Password" required>

    <button type="submit">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Forgot <a href="Login/ForgotPassword">password?</a></span>
  </div>
  
</form>

