<link rel="stylesheet" type="text/css" href="/public/Deneme/signup.css" />

<form action="/Signup" style="border-style: inset;height: 100%;" method="POST">
  <div class="container">
    <h2>Sign Up</h2>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="Name"><b>Name</b></label>
    <input type="text" id="Name" placeholder="Enter Name" name="Name" required>

    <label for="Surname"><b>Surname</b></label>
    <input type="text" id="Surname"  placeholder="Enter Surname" name="Surname" required>
  
     <label for="Email"><b>Email</b></label>
    <input type="text"  id="Email" placeholder="Enter Email" name="Email" required>

    <label for="Password"><b>Password</b></label>
    <input type="password" id="Password" placeholder="Enter Password" name="Password" required>

    <label for="confirmationPassword"><b>Repeat Password</b></label>
    <input type="password" id="confirmationPassword" placeholder="Repeat Password" name="confirmationPassword" required>
 
    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
  
</form>
